
@import 'root_base_var';  // набор базовых коэфффициентов

// a:link{
//     color: #1476b8;
//     font-weight: bold;
//     text-decoration: none;
// }
// a:visited{color: #1430b8;}
// a:hover{text-decoration: underline;}
// a:active{color: #b81414;}

// Миксины
@mixin  mx_font_sizeSmaller ($val) {
    font-size: $base-em  * $val / $ms1;
}

@mixin  mx_font_sizeBigger ($val) {
    font-size: $base-em  * $val * $ms1;
}

@mixin  mx_font_sizeEM($val) {
    font-size: $base-em *  $val
}

@mixin  mx_font_sizePX($val) {
    font-size: $base-px * $val
}


/////////////////////////////////////

html {
    @include mx_font_sizeEM($ms0);  // font-size: $base-em  * $ms0;
    line-height: $base  * $ms2;
    }

h1{ @include mx_font_sizeEM($ms4); // font-size: $base-em  * $ms4;
}

h2{ @include mx_font_sizeEM($ms3);}

h3{ @include mx_font_sizeEM($ms2);}

h4{ @include mx_font_sizeEM($ms1);}

h5, h6{ @include mx_font_sizeEM($ms0);}


h3, h2 {line-height: $base  * $ms1;}
h1 {line-height: $base  * $ms0;}


// медиа запросы
@media (min-width: 576px){
    // font-size: 19.2px;
    html{ @include mx_font_sizePX($ms1);}
}

@media (min-width: 768px){
    // font-size: 23.04px;
    html{ @include mx_font_sizePX($ms2);}

    h3 { @include mx_font_sizeEM($ms3);}
    h2 { @include mx_font_sizeEM($ms4);}
    h1 { @include mx_font_sizeEM($ms5);}
}

@media (min-width: 992px){
    // font-size: 19.2px;
    html{ @include mx_font_sizePX($ms3);}

    h2 { @include mx_font_sizeEM($ms5);}
    h1 { @include mx_font_sizeEM($ms6);}
}

@media (min-width: 1200px){
    // font-size: 33.1776px;
    html{ @include mx_font_sizePX($ms4);}
    h1 { @include mx_font_sizeEM($ms7);}
}


// Уменьшенные размеры заголовочных шрифтов
.u-h1Smaller{ @include mx_font_sizeSmaller($ms4)}
.u-h2Smaller{ @include mx_font_sizeSmaller($ms3)}
.u-h3Smaller{ @include mx_font_sizeSmaller($ms2)}
.u-h4Smaller{ @include mx_font_sizeSmaller($ms1)}
.u-h5Smaller{ @include mx_font_sizeSmaller($ms0)}
.u-h6Smaller{ @include mx_font_sizeSmaller($ms0)}


// Размер шрифта для абзаца
.u-textSmaller{font-size: ($base-em / $ms1);}
.u-textBigger{@include mx_font_sizeEM($ms1);  }


/* Локальные шрифты */
@font-face {
    font-family: 'PT Sans Narrow'; /* Гарнитура шрифта */
    src: url("PT_Sans_Narrow/PTSansNarrow-Regular.ttf");  /* 400 */
   }

   @font-face {
    font-family: 'PT Sans Narrow Bold';
    src: url("PT_Sans_Narrow/PTSansNarrow-Bold.ttf");
   }

   /* Подключение шрифта Roboto Condensed */
   /* font-family: 'Roboto Condensed', sans-serif; */
   @font-face {
    font-family: 'Roboto Condensed Light';
    src: url(Roboto_Condensed/RobotoCondensed-Light.ttf);
   }

   @font-face {
    font-family: 'Roboto Condensed Regular';
    src: url(Roboto_Condensed/RobotoCondensed-Regular.ttf);
   }

   @font-face {
    font-family: 'Roboto Condensed Bold';
    src: url(Roboto_Condensed/RobotoCondensed-Bold.ttf); /*700 */
   }



/* Инофрмация в виде заголовка */
.eds_title_info{
    font-family: 'PT Sans Narrow Bold', sans-serif;
    margin-bottom: 0;
    // font-size: 90%;
}

/* Списки с информацией о продукции */
.eds_ul_left, .eds_ul_right, .eds_ul_none{
    padding:0;
    list-style: none;
    line-height: 1.3;
    font-family: 'PT Sans Narrow', sans-serif;
    }

.eds_ul_left li:before, .eds_ul_right li::before{
    padding-right:5px;
    font-weight: bold;
    color: #666;
    content: "\2022";
    transition-duration: 0.5s;
}

.eds_ul_right li::before{content: "\2714"; }
