<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Спецсимволы HTML</title>

</head>
<body>

    <h1>Спецсимволы HTML</h1>

    <p> <img src="http://s.rimg.info/11f501dd0a934d9d1bc29f30a197ee4a.gif" alt=""> <br>

    <img src="http://s.rimg.info/3f1e42a1a0dc46bc1ffca01f0f429c48.gif" >    <br>

    <img src="http://s18.rimg.info/9b82a05051f4af0f46e9246ca02ba500.gif" >  <br>

    <img src="http://s15.rimg.info/ca9d5eb99c96270dea89278de14def9a.gif" >  <br>

<h3>img for Energy diet smart</h3>

    <img src="/home/osnuser/prPython/webProject/ubn-nltest/preds/static/preds/img_edsm/eds_001.png"> <br>



    </p>




</body>
</html>
