{% load static %}
{% load tags_eds %}


<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Страница отладки greed</title>

    <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="{% static 'app/css/fontAwesome/css/font-awesome.min.css' %}"> -->
    <link href="{% static 'app/css/jquery-ui-1.10.3.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Собственные настройки -->
    <!-- <link href="{% static 'preds/css/root_var.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'preds/css/root_css.css' %}" rel="stylesheet" type="text/css" /> -->

    <link rel="stylesheet" href="{% static 'app/css/root_css.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'app/css/mane_menu/all.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'app/css/mane_menu/mane_menu.css' %}" type="text/css"/>


<style>

    .spn_img {margin-right: 0.4em;}

</style>

</head>
<body>

    <div class="menu-container" style="margin: 0 auto;" >
        <div class="menu">
            <ul>
                <li><a href="#link">Главная</a></li>
                <li><a href="#link">Каталог</a> </li>
                <li><a href="#link">Магазин</a></li>
                <li><a href="#link">Контакты</a></li>
                <li><a href="#link">FAQ</a></li>
            </ul>
        </div>
    </div>

    <div class="container-fluid" id="content-detail">
        <h3>Контент для детального отображения информации</h3>
    </div>

    <div class="container-fluid px-0" id='main_container' >
        <!-- <button class="btn-open-content">ОткрКонтент</button> -->

        <div class="row mx-auto">
            <div class="col">
                <img class="mx-auto d-block" style="display: inline-block; max-height: 120px;" src="{% static 'preds/img_edsm/edsmart.png' %}" alt="">
            </div>
            <div class="col">
                <div class="pt-2" style="line-height: calc(var(--base) * var(--ms1)); color:green">
                    <div style="font-size: 0.9em; font-weight:600">УМНАЯ ЕДА</div>
                    <div style="font-size: 0.7em;">БАЛАНС ПИТАНИЯ</div>
                    <div style="font-size: 0.6em;">БЕЗ ЛИШНИХ КАЛОРИЙ</div>
                </div>
            </div>
        </div>

        <div class="mx-auto" style="height: 2px; background-color: green;" ></div>

        <div id="par-eds_tag01">
            <!-- {% autoescape off %}{{'preds:tags/eds_tag01.html'|filter_tag_eds_01}}{% endautoescape %} -->
        </div>

        <div id="par-eds_tag02">
            <!-- {% autoescape off %}{{'preds:tags/eds_tag02.html'|filter_tag_eds_01}}{% endautoescape %} -->
        </div>

        <div id="par-eds_tag04">

        </div>

        <div id="par-eds_tag03">
            <h3>ЕСТЬ ВСЕ, ЧТО ТЕБЕ НУЖНО</h3>
            <button id='btn_eds_tag03'>Подробно</button>
            <div>

            </div>
        </div>
        <!-- {% autoescape off %}{{'preds:tags/eds_tag03.html'|filter_tag_eds_01}}{% endautoescape %} -->

    </div>


    <script src="{% static 'app/js/jquery_12.min.js' %}"></script>


    <link href="{% static 'app/css/jquery-ui-1.10.3.min.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'app/js/popper.min.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>


    <script type="text/javascript">
        (function($) {	$(document).ready(function () {

        "use strict";

        // Настройки меню
        (function () {

            $('.menu > ul > li:has( > ul)').addClass('menu-dropdown-icon');
            $('.menu > ul > li > ul:not(:has(ul))').addClass('normal-sub');
            $(".menu > ul").before("<span class=\"menu-mobile\">Меню:</span>");
            $(".menu > ul > li").hover(function (e) {
                if ($(window).width() > 768) {
                    $(this).children("ul").stop(true, false).fadeToggle(150);
                    e.preventDefault();
                }
            });
            $(".menu > ul > li").click(function () {
                if ($(window).width() <= 768) {
                    $(this).children("ul").fadeToggle(150);
                }
            });
            $(".menu-mobile").click(function (e) {
                $(".menu > ul").toggleClass('show-on-mobile');
                e.preventDefault();
            });

        }());

        // управление встроенным контентом
        (function(){

            let contentDetail = $('#content-detail').hide();

            $('.btn-open-content').click(function(ev){
                ev.preventDefault();

                let data = { id_pr: 'EDsmart' }

                $.ajax({
                    url: "{% url 'contenteds' %}",
                    data: data,
                    type: 'get',
                    dataType: 'json',
                    success: function(data){
                        console.log(data);
                        console.log(data.res);

                        let title = 'empty';
                        let cont = 'empty';

                        title = data.title;
                        cont = data.cont;

                        contentDetail.empty();
                        let ob = $('<h3>'+title+'</h3>');
                        let contOb = $('<p>'+cont+'</p>')
                        contentDetail.append(ob).append(contOb);
                        contentDetail.toggle();

                    }

                });

            });

        }()); // end управление встроенным контентом

        // Обработчики элементов, загружающие контент по ajax
        (function(){
            const fun_click = function(e){
                const curID = $(e.currentTarget).prop('id');
                // console.log('id: ' + curID);

                const data = {
                    file_tag: curID
                }

                $.ajax({
                    url: "{% url 'contentedstag' %}",
                    data: data,
                    type: 'get',
                    dataType: 'html',
                    success: function(data){
                        // console.log('Ответ сервера');

                        let div = $('#par-eds_tag03 div');
                        div.empty();
                        div.html(data);
                    }

                });
            }

            function load_content(id){
                const data = {
                    file_tag: id
                }

                $.ajax({
                    url: "{% url 'contentedstag' %}",
                    data: data,
                    type: 'get',
                    dataType: 'html',
                    success: function(data){
                        // console.log('Ответ сервера');

                        let div = $('#'+id);
                        div.empty();
                        div.html(data);
                    }

                });
            }

            // Загрузка контента
            load_content('par-eds_tag01');
            load_content('par-eds_tag02');
            load_content('par-eds_tag04');

            $('#main_container').on('click', 'button', fun_click )


        }()) // end Обработчики элементов, загружающие контент по ajax


            });
        })(jQuery);
    </script>


</body>
</html>
