{# Шаблон профиля #}


{% extends 'layout/base_layout.html' %}


{%block header%} <h3 class="text-center"> Список пользователей - участников проекта  </h3> {%endblock%}

{# Заполнение основного контента #}
{%block main %}

<div class="container-fluid mx-2">
    
    {% for row in rows %}

        <div class="row">

            <div class="row w-100 border-bottom border-info" style="font-size:0.8rem">
                <div class="col-3">                
                    <span style="font-weight:600; font-size:1rem;">{{row.full_name}} </span> <br />
                    <div class="pl-1" style="font-size:0.75rem" >
                        IDcomp: {{row.idcomp}}<br />
                        Статус: {{row.status}} <br />
                        {% if row.limitcon %}
                        <span style="font-weight:600" > Кол-во подкл. {{row.limitcon}}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-3" >
                        <span style="font-weight:600">Логин: {{row.username}}</span>  <br />
                        email: {{row.email}}<br />
                        Получать сообщ.: {{row.sendMes}} <br />
                </div>
                <div class="col-2">
                        Телефон: {{row.phone}}<br />
                        ВозрГруппа: {{row.ageGroup}}<br />
                        Пол: {{row.pol}}
                </div>
                <div class="col-3">
                        ЛогинКлиентов: {{row.logincl}} <br />
                        ПарольКлиентов: {{row.pswcl}}  <br />
                    {% if row.levelperm > 29  %}
                        <a class="text-info font-weight-bold" href="{% url 'updmesdata' mes=row.username %}" >Изменить профиль </a>
                    {% endif %}
                </div>
            </div>    
        </div>

    {% endfor %}

    <div class="mb-2 mt-2">
        <span class="mr-2" > выбрана {{dc_page.sel_page}} (из {{dc_page.num_pages}}) </span>
        {% for page in num_pages %}
            <a href="?page={{page}}">{{page}}</a>
        {% endfor %}

        {#{"num_rows": 5, "sel_page": 2, "num_count": 14, "num_pages": 3}#} 
    </div>

    <div class="mt-2">
        <a class="text-info" href="{% url 'addprof_member' %}" >Создать профиль менеджера</a>
    </div>

</div>

{%endblock main%}