{# Шаблон профиля #}

{% extends 'layout/base_layout.html' %}
{% load comp_templ %}


{%block header%} <h3 class="text-center"> Профиль пользователя </h3> {%endblock%}

{# Заполнение основного контента #}
{%block main %}

<div class="container mt-4">
    {# Отображение сообщения о завершении создании профиля #}
    {% if mes %}
        <p>{{mes}}</p>
    {% endif %}

    {# -------------- Шапка профиля с анкетными данными -------------- #}
    {# prof[param] -> imgphoto , full_name, status, idcomp #}
    {% templ_title param %}

    {# ---------------- Личные данные, наставника и руководителя проекта -------------------- #}
    {# prof[prof] -> включает ВСЕ данные Логин, Пароль, Телефон, Эл. почта  #}
    {# данныеНаставника данныеРукПроета #}
    {# idrow=parentData используетя для вставки разделителя в виде горЛинии #}

    {% templ_head prof %}

</div>

{%endblock main%}
