{% extends 'layout/base_layout.html' %}


{% block title %}Обновление профиля{%endblock%}

{# Заголовок страницы #}

{% block header %}
<h3 class="text-center mt-3">{{title}}</h3>
{%endblock header%}

{# Основной блок отображения данных  #}
{% block main %}


<form method="post">
    {% csrf_token %}

    <div class="container mt-4">

        <div class="mb-1" style="font-size:0.8rem;" >
            <div>Внесение изменений: <span style="font-weight:600"> ({{username_header}}) {{full_name}} </span> </div>
            <div>Статус: <span style="font-weight:600"> {{statusInfo}} </span> </div>
        </div>

        <div class="mb-4" style="font-size:0.8rem;" >
            <h5>Изменение пароля для пользователя</h5>
            <div>Логин: <span style="font-weight:600"> ({{upd_username}}) {{upd_full_name}} </span> </div>
            <div>Статус: <span style="font-weight:600"> {{upd_status}} </span> </div>
        </div>


        {% if not res %}  {# Вывод ошибок на уровне БД #}
        <div> <em style="color:red"> {%if error %}{{error}} {%endif%}  </em> </div>
        {% endif %}

        {# мнимая ошибка из-за двойного использования div см. строку 60  #}
        <div class="row">

            {% for field in form.visible_fields %}

            {# Вывод полей формы #}           
            {# Сообщения об ошибках #}
            {% if field.errors %}
            <div class="col-auto offset-md-1 mt-3 mb-0">
                <ul style="color: red">
                    {% for error in field.errors %}
                    <li><em>{{error|escape}}</em></li>
                    {%endfor%}
                </ul>
            </div>

            {# Смещение контента вверх на 20px, чтобы прижать к сообщению ошибки #}
            <div class="row col-12" style="margin-top:-20px;">

                {%else%} {#  if field.errors #}


                {# Расположение контента в котором нет сообщений об ошибках #}
                <div class="row col-12 mt-2">

                    {% endif %}

                    <div class="col-4 text-right pt-2 pr-2 font-weight-bold">
                        {{field.label}}
                    </div>

                    <div col-auto>
                        {{field}}
                    </div>

                </div>                


                {% endfor %}  {# for ... form.visible_fields #}

            </div>
        </div>

        <div class="row justify-content-center col-8 mt-3 mb-3">
            <div class="col-2">
                <input class="btn btn-info" type="submit" value="Сохранить изменения профиля" />
            </div>
        </div>
</form>


{% endblock main %}