<div class="container-fluid">

    <h1>ED Баланс</h1>

    <div class="row justify-content-between">
        <div class="col-2">
            <div
                style="background-color: blanchedalmond; font-weight: 600; width: 4.2em; height: 4.2em; padding-top: 1.2em; padding-left: 0.2em; border: 1px solid #000; border-radius: 50%;">
                    Баланс
            </div>
        </div>
        <div class="col u-textSmaller">
            Программа позволяет контролировать вес – в том числе, что бы вес не вернулся после похудения.
            Рацион подобран таким образом, чтобы организм получал все необходимые питательные вещества
            и элементы, поэтому придерживаться такого питания можно всю жизнь.
        </div>

    </div>

</div>
