{% load static %}


{% comment %}
  Блок детализации
  возьми с собой и замени ...
{% endcomment %}

        <div class="row mt-3 mx-auto justify-content-center">
            <div class="col col-sm-6 pl-0 ml-0 w-100" >
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h3 class="mb-1 eds_title_info">
                            <span><img src="{%static 'preds/img_edsm/check_22_001.png'%}" alt=""></span>
                            УДОБНО</h3>
                            <div class="eds_title_info">возьми с собой и замени <br> завтрак, обед или ужин</div>
                    </div>

                    <!-- <div class="w-100"></div> -->

                    <div class="col-12 col-md-6" style="position: relative;">
                        <h3 class="mb-1 eds_title_info">
                            <span><img src="{%static 'preds/img_edsm/check_22_001.png'%}" alt=""></span>
                            ПОЛЕЗНО</h3>

                        <div class="title_info" style="font-family: 'PT Sans Narrow Bold', sans-serif;"> В одной порции:</div>
                        <div style="position: absolute; right: 5em; bottom: -0.5em; z-index: -1;">
                            <img src="{% static 'preds/img_edsm/eds_110.png' %}" alt="">
                        </div>
                        <ul class="eds_ul_none">
                            <li>белки 22г,жиры 5г,углеводы 15г</li>
                            <li>12 витаминов + 11 минералов</li>
                            <li>ферменты</li>
                            <li>клетчатка</li>
                            <li>менее 200 ккал</li>
                            <li>нет синтетических ароматизаторов, красителей и консервантов</li>
                        </ul>

                    </div>

                </div>
            </div>

            <div class="row col col-sm-5 px-0" >
                <h3 class="eds_title_info">
                    <span><img src="{%static 'preds/img_edsm/check_22_001.png'%}" alt=""></span>
                    ВЫГОДНО </h3>
                <div style="position: absolute; top: 45px;">
                    <img style="width: 95%;" src="{% static 'preds/img_edsm/eds_111.png'%}" alt="">
                </div>
            </div>

        </div>
