
{% comment %}
    Первый блок
    ЧТО ЭТО and для кого
{% endcomment %}

<div class="col">
    <div class="container px-0 px-md-4 px-lg-2">
        <div class="row">
            <div class="col">
                <h3 class="eds_title_info">ЧТО ЭТО?</h3>
                <ul class="eds_ul_left">
                    <li>полноценное питание</li>
                    <li>"ластик" для лишнего веса</li>
                    <li>еда для занятых</li>
                    <li>когда лень готовить</li>
                    <li>перекус на бегу</li>
                    <li>еда, которую удобно взять с собой</li>
                    <li>любимый вкус</li>
                </ul>
            </div>

            <div class="col">
                <h3 class="eds_title_info">ДЛЯ КОГО?</h3>
                <ul class="eds_ul_right">
                    <li>для активных</li>
                    <li>для модных и современных</li>
                    <li>кто хочет похудеть</li>
                    <li>кто хочет быть здоровым</li>
                </ul>
            </div>
        </div>
    </div>
</div>
