{# Тэг ПРОГРАММЫ похудение, баланс #}


<div class="col">
    <div class="row">
        <div class="col">
            <h3>ED баланс</h3>
            <span class="rubric_info">
            Программа позволяет контролировать вес – в том числе,
            чтобы вес не вернулся после похудения.
            Рацион подобран таким образом, чтобы организм получал ...
            </span>

        </div>
        <div class="col">
            <h3>ED Старт</h3>
        </div>

    </div>
</div>
