{% load static %}
{% load ext_data_user %}


<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Страница отладки greed</title>

    <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="{% static 'app/css/fontAwesome/css/font-awesome.min.css' %}"> -->
    <link href="{% static 'app/css/jquery-ui-1.10.3.min.css' %}" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="{% static 'app/css/root_css.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'app/css/mane_menu/all.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'app/css/mane_menu/mane_menu.css' %}" type="text/css" />


</head>

<body>

    <div class="wrapper">

        <div class="main-bar">
            <div class="main-bar__row">
                <div class="main-bar__col">
                    <img class="main-bar__img" src="{% static 'preds/img_edsm/edsmart.png' %}" alt="" />
                </div>

                <div class="main-bar__col" style="color:green">
                    <div class="main-bar__title">
                        <div style="font-size: 0.9em; font-weight:600">УМНАЯ ЕДА</div>
                        <div style="font-size: 0.7em;">БАЛАНС ПИТАНИЯ</div>
                        <div style="font-size: 0.6em;">БЕЗ ЛИШНИХ КАЛОРИЙ</div>
                    </div>
                </div>
            </div>

            <div class="menu-container" style="margin: 0 auto;">
                <div class="menu">
                    <ul>
                        <li><a href="#link">Главная</a></li>
                        <li><a href="#link">Каталог</a> </li>
                        <li><a href="#link">Магазин</a></li>
                        <li><a href="#link">Контакты</a></li>
                        <li><a href="#link">FAQ</a></li>
                    </ul>
                </div>
            </div>

            <div class="dividing-line"></div>
        </div>

        <div id="content-detail">

        </div>


        <div class="main-content" style="border: 1px solid sienna; ">
            {% block main %}

            {% endblock %}
        </div>


        <div class="footer">
            <div class="footer__proj">
                <div>&reg;Проект 2020 г</div>
                <div>Найти себя</div>
            </div>

            <div class="footer__header">
                {% header_data %}
            </div>

            <div class="footer__cons">
                {% cons_data user %}
            </div>
        </div>

    </div>


    <script src="{% static 'app/js/jquery_12.min.js' %}"></script>

    <link href="{% static 'app/css/jquery-ui-1.10.3.min.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'app/js/popper.min.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'preds/js/prall_init_elements.js' %}"></script>


</body>

</html>
