
{#  Шаблон ввода нового пароля confirm_password.html #}

{% extends "layout/mes_layout.html" %}



{% block title %}Сброс пароля{% endblock %}

{% block main %}
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка на сброс пароля недопустима, возможно, она была использована.<br />
            Сделайте запрос заново на сброс пароля.
    </p>
    {% endif %}
{% endblock main %}