{# Шаблон ввода адреса эл. почты для сброса пароля reset_password.html #}


{% extends 'layout/mes_layout.html' %}


{% block title %} Сброс пароля {% endblock %}


{% block main %}

<h2>Для сброса пароля, введите адрес эл. почты</h2>
<br />


<form method="post">

    {% csrf_token %}
	    
    <table>
        <tbody>
		<tr>
			<th>
				<label for="id_email">email:</label>
			</th>
			<td>
				<input class="inputdata" type="text" name="email" autofocus="" required="" id="id_email">
			</td>
		</tr>
		</tbody>
	</table>

	<br />
	 
    <input type="hidden" name="next" value="{{next}}" />
		
    <input type="submit" class="submit btn"  value="Отправить" />

</form>

{% endblock main %}