{% load static %}

<div class="container">

    <h3 class="text-center mb-4 mt-3">Памятка для участников проекта</h3>
    <div style="font-size:0.8rem">

        <p class="instr-prof">                
            Каждый сайт использует свой набор терминов, выражений, понятий, которые как бы понятные для каждого, но в действительности в сознании проявляется <b> свое восприятие</b>.<br />
        </p>
        <p class="instr-prof">
            Мы находимся под <b> воздействием </b> постоянно меняющихся условий,
            в результате наше восприятие <b>меняется</b>.
            </p>
        <p class="instr-prof"> Многие термины, понятия, взгляды, которые раньше были как бы нейтральными, теперь становятся <b> значимыми</b>, в худшем отталкивающими, настораживающими, а зачастую вызывающими <b> тревогу, опасение</b>.
        </p>
        <p class="instr-prof">
            По этой причине терминология, наименования текстовых ссылок <b>отличаются </b>  от общепринятых.<br />
            Например, вместо личный кабинет - используется профиль. <br />
            вместо регистрация пользователя - используется создать профиль.
        </p>
        <p class="instr-prof">
            В основе принципа подачи информации <b> минимализм</b>. Т.е. как можно меньше информации. И только, если появляется интерес, пользователь может сделать <b> переход  по текстовой ссылке,</b> <br />
            а там, где это целесообразно, вместо текстовых ссылок используются <b> кнопки</b>.
        </p>

        <h6>Структура сайта</h6>
            <div class="ml-3">
                <p>
                    <b> Баннер</b> - верхняя часть - предназначен для быстрого восприятия информации <b> всего </b> сайта, <br />
                    <b>Навигационная панель</b> - выделена зеленым цветом содержит  <b> текстовые ссылки </b> для перехода по сайту<br />
                    <b> Средняя часть </b> информационная, предназначена для демонстрации <b> начальной, значимой </b>информации <br />  
                    <b>Нижняя часть сайта</b> содержит данные для контактов
                </p>

            </div>

        <h6>Назначение текстовых ссылок навигационной панели</h6>
        <div>
            <div>
                <img src="{% static 'app/imginstr/instr_navpan.png'%}" />
            </div>
            <div class="ml-3">
                <ul>
                    <li><b>Главная</b> текстовая ссылка переход на ГЛАВНУЮ страницу сайта.</li>
                    <li><b>Контакты</b> переход на страницу создания сообщения на сайт (обратная связь)</li>
                    <li><b>Профиль</b>
                            переход на страницу, где будут отображены данные, которые используются <br />
                            для отображения <b>значимой</b> для вас информации
                    </li>
                    <li><b> О нас</b> переход на страницу сведений о проекте, основная идея при создании. </li>
                    <li><b>Вопросы</b> переход на страницу, которая позволит развеять сомнения относительно продукции, также получить ответы по наиболее часто возникающим вопросам из СМИ, Internet и т.д. </li>
                    <li><b>Админ-пан</b> переход на страницу для руководителей групп </li>
                    <li><b>Выход</b> переход на страницу, повторной авторизации, под другим логином или иной причине </li>
                </ul>
            </div>
        </div>

    </div>
</div>