@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em); }

@media (min-width: 800px) {
  :root {
    font-size: 1.125em; } }
*, *::before, *::after {
  box-sizing: inherit; }

body {
  margin: 0; }

a:link {
  color: #1476b8;
  font-weight: bold;
  text-decoration: none; }
a:visited {
  color: #1430b8; }
a:hover {
  text-decoration: underline; }
a:active {
  color: #b81414; }

html {
  line-height: 1.44; }

h1 {
  font-size: 2.0736em; }

h2 {
  font-size: 1.728em; }

h3 {
  font-size: 1.44em; }

h4 {
  font-size: 1.2em; }

h5, h6 {
  font-size: 1em; }

h3, h2 {
  line-height: 1.2; }

h1 {
  line-height: 1; }

@media (min-width: 768px) {
  h3 {
    font-size: 1.728em; }

  h2 {
    font-size: 2.0736em; }

  h1 {
    font-size: 2.48832em; } }
@media (min-width: 992px) {
  h2 {
    font-size: 2.48832em; }

  h1 {
    font-size: 2.985984em; } }
@media (min-width: 1200px) {
  h1 {
    font-size: 3.5831808em; } }
.u-h1Smaller {
  font-size: 1.728em; }

.u-h2Smaller {
  font-size: 1.44em; }

.u-h3Smaller {
  font-size: 1.2em; }

.u-h4Smaller {
  font-size: 1em; }

.u-h5Smaller {
  font-size: 0.8333333333em; }

.u-h6Smaller {
  font-size: 0.8333333333em; }

.u-textSmaller {
  font-size: 0.8333333333em; }

.u-textBigger {
  font-size: 1.2em; }

/* Локальные шрифты */
@font-face {
  font-family: 'PT Sans Narrow';
  /* Гарнитура шрифта */
  src: url("PT_Sans_Narrow/PTSansNarrow-Regular.ttf");
  /* 400 */ }
@font-face {
  font-family: 'PT Sans Narrow Bold';
  src: url("PT_Sans_Narrow/PTSansNarrow-Bold.ttf"); }
/* Подключение шрифта Roboto Condensed */
/* font-family: 'Roboto Condensed', sans-serif; */
@font-face {
  font-family: 'Roboto Condensed Light';
  src: url(Roboto_Condensed/RobotoCondensed-Light.ttf); }
@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url(Roboto_Condensed/RobotoCondensed-Regular.ttf); }
@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url(Roboto_Condensed/RobotoCondensed-Bold.ttf);
  /*700 */ }
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1400px;
  min-width: 320px; }

.main-content {
  flex: 1 0 auto; }

.main-bar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #b7f6f0; }

.main-bar__row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main-bar__col {
  flex: 1; }

.main-bar__img {
  display: inline-block;
  max-width: 100px;
  margin: 0 auto 0 10px; }

@media (min-width: 480px) {
  .main-bar__img {
    max-width: 120px; } }
@media (min-width: 600px) {
  .main-bar__img {
    max-width: 150px; } }
.main-bar__title {
  max-width: 100px;
  margin: 0 10px 0 auto; }

@media (min-width: 480px) {
  .main-bar__title {
    max-width: 120px; } }
@media (min-width: 600px) {
  .main-bar__title {
    max-width: 150px; } }
.dividing-line {
  height: 2px;
  background-color: green; }

.footer {
  background-color: slategray;
  color: white; }

.footer__proj, .footer__header, .footer__cons {
  flex: 1; }

/* Специальные заголовки в карочках */
.eds_title_info {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  margin-bottom: 0; }

/* Специальные заголовки в карочках */
.rubric_info {
  font-family: 'PT Sans Narrow', sans-serif; }

/* Списки с информацией о продукции */
.eds_ul_left, .eds_ul_right, .eds_ul_none {
  padding: 0;
  list-style: none;
  line-height: 1.3;
  font-family: 'PT Sans Narrow', sans-serif; }

.eds_ul_left li:before, .eds_ul_right li::before {
  padding-right: 5px;
  font-weight: bold;
  color: #666;
  content: "\2022";
  transition-duration: 0.5s; }

.eds_ul_right li::before {
  content: "\2714"; }

/*# sourceMappingURL=root_css.css.map */
