<div id="eds_tag01" class="row mt-3 mx-auto justify-content-center">
<div class="row mt-3 mx-auto justify-content-center">
    <div class="col col-sm-5 px-0">
        <div class="ml-2">
            <h3 class="mb-1 eds_title_info">ЧТО ЭТО?</h3>
            <div>
                <ul class="eds_ul_left">
                    <li>полноценное питание</li>
                    <li>"ластик" для лишнего веса</li>
                    <li>еда для занятых</li>
                    <li>когда лень готовить</li>
                    <li>перекус на бегу</li>
                    <li>еда, которую удобно взять с собой</li>
                    <li>любимый вкус</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col col-sm-5 px-0">
        <h3 class="mb-1 eds_title_info">ДЛЯ КОГО?</h3>
        <div>
            <ul class="eds_ul_right">
                <li>для активных</li>
                <li>для модных и современных</li>
                <li>кто хочет похудеть</li>
                <li>кто хочет быть здоровым</li>
            </ul>
        </div>
    </div>

</div>
</div>
