<div class="row mt-3 mx-auto ">
    <div class="col eds_title_info">
        <h3 class="mb-1 ml-1 eds_title_info"> ЕСТЬ ВСЕ, ЧТО ТЕБЕ НУЖНО </h3>
    </div>
    <div class="w-100"></div>
    <div class="row mx-auto justify-content-center">
        <div class="col col-md-5">
            <div class="eds_title_info">Multiprotein Complex</div>
            <div class="eds_ul_none">
                (Изолят соевого белка, концентрат молочного белка, концентрат сывороточного белка)
            </div>
        </div>

        <div class="col col-md-auto">
            <ul class="eds_ul_right">
                <li>Строительный материал для клеток организма</li>
                <li>Источник кальция</li>
            </ul>

        </div>
        <div class="w-100"></div>

        <div class="col col-md-5 mt-1">
            <div class="eds_title_info">Лецитин</div>
        </div>

        <div class="col col-md-auto">
            <ul class="eds_ul_right">
                <li>Отодвигает старение</li>
                <li>Улучшает память</li>
                <li>Избавляет от лишнего веса</li>
            </ul>
        </div>

        <div class="w-100"></div>

        <div class="col col-md-5">
            <div class="eds_title_info">Палатиноза, мальтодекстрин</div>
            <div class="eds_ul_none">(патока)</div>
        </div>

        <div class="col col-md-auto">
            <ul class="eds_ul_right">
                <li>Заряжают энергией</li>
                <li>Дают чувство сытости надолго</li>
            </ul>
        </div>

        <div class="w-100"></div>

        <div class="col col-md-5 mt-1">
            <div class="eds_title_info">Вололкна и пребиотики</div>
            <div class="eds_ul_none">(инулин, цитрусовые волокна, камедь целлюлозы и тары)</div>
        </div>

        <div class="col col-md-auto">
            <ul class="eds_ul_right">
                <li>Выводят вредные вещества</li>
                <li>Очищают кишечник</li>
            </ul>
        </div>

        <div class="w-100"></div>

        <div class="col col-md-5 mt-1">
            <div class="eds_title_info">12 витаминов +</div>
            <div class="eds_title_info" style="margin-top: -5px;">11 минералов</div>
            <div class="eds_ul_none">
                (A, E, C, D3, B1, B2, B5, B6, B9, B12, PP, H, калий, кальций, фосфор, магний, цинк, железо, медь, марганец, йод, хром,кремний)
            </div>
        </div>

        <div class="col col-md-5">
            <ul class="eds_ul_right">
                <li>Укрепляют иммунитет</li>
                <li>Питают мозг и нервную систему</li>
            </ul>
        </div>

        <div class="w-100"></div>

        <div class="col col-md-5 mt-1">
            <div class="eds_title_info">Энзимы</div>
            <div class="eds_ul_none">(бромелайн, папаин)</div>
        </div>

        <div class="col col-md-auto">
            <ul class="eds_ul_right">
                <li>Помогают усваивать белок</li>
                <li>Убирают жировые отложения</li>
            </ul>
        </div>

        <div class="w-100"></div>

        <div class="col col-md-5 mt-1">
            <div class="eds_title_info">Экстракт грифони</div>
        </div>

        <div class="col col-md-auto">
            <ul class="eds_ul_right">
                <li>Контролирует аппетит</li>
                <li>Защищает от стреса и усталости</li>
            </ul>
        </div>

    </div>

</div>
